//utils styles
@import './utils/variables';

//base styles
@import './base/base';
@import './base/reset';
@import './base/card-set';

// @import './components/';
@import './components/container';
@import './components/header';
@import './components/nav';
@import './components/logo';
@import './components/footer';
@import './components/modal';
@import './components/alert';
@import './components/section';
@import './components/mobile-menu';

//layout styles
@import './layout/filters';
@import './layout/forward';
@import './layout/group';
@import './layout/hero';
@import './layout/parthers';
@import './layout/progect';
@import './layout/production';
