.partners {
  padding: 94px 0;
}
.partners__title {
  margin-bottom: 50px;

  display: block;
  margin: 0 auto;
  text-align: center;

  font-weight: 700;
  font-size: 28px;
  line-height: calc(33 / 28);
  margin-bottom: 30px;
  color: $text-title-color;
  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    color: $text-title-color;
    margin-bottom: 50px;
  }
}
.partners__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.partners__item {
  $items: 2;
  align-items: center;
  justify-content: center;

  flex-basis: calc((100% - #{$indent} * (#{$items} - 1)) / #{$items});
  @media screen and (min-width: 768px) {
    $items: 3;
    flex-basis: calc((100% - #{$indent} * (#{$items} - 1)) / #{$items});

    @media screen and (min-width: 1200px) {
      $items: 6;
      flex-basis: calc((100% - #{$indent} * (#{$items} - 1)) / #{$items});
    }
  }
}

.partners__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 210px;
  height: 92px;
  color: $link-background-color;
  border: 1px solid $link-background-color;
  border-radius: 4px;

  transition-property: color, border;
  transition-duration: 250ms, 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    width: 226px;
  }
  @media screen and (min-width: 1200px) {
    width: 170px;
  }

  &:hover,
  &:focus {
    border: 1px solid $link-focus-color;
    color: $link-focus-color;
  }
}
.partners__icon {
  fill: currentColor;
}
