.production {
  display: none;
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.production__title {
  width: 368px;
  margin: 0 auto;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  color: $text-title-color;
}

.production__thumb {
  position: relative;
}

.production__list {
  gap: 30px;
  display: flex;
}

.production__gallery {
  position: relative;
}

.production__overlay {
  position: absolute;
  width: 100%;
  height: 70px;
  left: 0;
  bottom: 0;

  background: rgba(47, 48, 58, 0.8);
}
.production__subtitle {
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  text-transform: uppercase;
  color: $text-fon-white-color;
}
