.header {
  border-bottom: 1px solid $header-border-bottom;
}

.header__container {
  display: flex;
  position: relative;
  @media screen and (min-width: 768px) {
    align-items: center;
    justify-content: space-between;
  }
}

.header__list {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  @media screen and (min-width: 1200px) {
    flex-direction: row;
    gap: 50px;
  }
}

.header__contacts-item {
  display: flex;
  align-items: baseline;
}

.header__icon {
  margin-right: 10px;
  fill: currentColor;
}

.header__contact {
  position: relative;

  display: flex;
  gap: 10px;
  align-items: center;
  font-weight: 500;
  line-height: calc(24 / 14);
  letter-spacing: 0.02em;
  text-decoration: none;
  color: $text-paragraf-color;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $link-focus-color;
  }
}

.logo__header {
  padding: 14.5px 0;

  @media screen and (min-width: 768px) {
    margin-right: 88px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}
