.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(2px);
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  opacity: 0;
  transform: translateX(-50%) translateY(-70%);
}

.modal__overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  width: 450px;
  min-height: 609px;
  padding: 40px;
  background: $text-fon-white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  @media screen and (min-width: 1200px) {
    width: 528px;
    min-height: 581px;
  }
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;

  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: $text-fon-white-color;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.modal__icon {
  fill: currentColor;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: $link-focus-color;
  }
}
.modal__title {
  display: block;

  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(30 / 20);
  text-align: center;
  letter-spacing: 0.03em;
  color: $text-title-color;
  @media screen and (min-width: 1200px) {
    line-height: calc(23 / 20);
  }
}

.modal__group {
  margin-bottom: 20px;
}

.modal__label {
  display: block;

  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: $text-paragraf-color;

  margin-bottom: 4px;
}
.modal__wrapper {
  position: relative;
  margin-bottom: 10px;
}
.modal__imput {
  width: 100%;
  height: 38px;
  padding-left: 42px;
  padding-right: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: 1px solid transparent;
  outline-offset: -1px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border-color: $link-focus-color;
  }
  &:focus + .modal-form__icon {
    fill: $link-focus-color;
  }
}
.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__message {
  display: block;
  width: 100%;
  height: 118px;
  resize: none;
  padding: 16px 12px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  outline: 1px solid transparent;
  outline-offset: -1px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border-color: $link-focus-color;
  }
}
.modal__message.placeholder {
  margin-left: 16px;
}

.modal__agreement {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  margin-bottom: 30px;
}

.modal__agreement--desc {
  font-size: 12px;
  line-height: calc(14 / 12);
  user-select: none;
  letter-spacing: 0.03em;
  color: $text-paragraf-color;
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: calc(24 / 14);
  }
}

.modal__agreement--link {
  color: $link-focus-color;
  text-underline-offset: 2px;
}

.modal__checkbox {
  appearance: none;
  width: 16px;
  height: 15px;

  outline: 2px solid transparent;
  outline-offset: -2px;
  border: 2px solid;
  border-radius: 2px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 0;

  transition-property: outline-color, background-color, background-size;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:checked {
    outline-color: $link-focus-color;
    background-color: $link-focus-color;
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.95703 4.75166L1.88825 4.68604L1.81923 4.75141L0.93123 5.59258L0.854858 5.66492L0.930974 5.73753L4.42671 9.07236L4.49574 9.1382L4.56476 9.07236L12.069 1.91352L12.1449 1.84116L12.069 1.76881L11.1873 0.927644L11.1183 0.861826L11.0493 0.927611L4.49577 7.17353L1.95703 4.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E");
    background-size: 11px 8px;
  }
}
.modal__btn {
  display: block;
  margin: 0 auto;
  align-items: center;
  padding: 10px 52px;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;

  color: $text-fon-white-color;
  background: $background-btn-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border: none;
}
