.nav {
  display: none;
  margin-right: auto;
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}
.nav__list {
  display: flex;
  gap: 50px;
}

.nav__item {
  font-weight: 500;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: $text-title-color;
}
.nav__link {
  position: relative;

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-left: auto;

  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: $text-title-color;
  accent-color: $link-focus-color;
  transition-property: color, transform, opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $link-focus-color;
  }
  &:hover:after,
  &:focus:after {
    transform: translateX(-50%) scaleX(1);
    opacity: 1;
  }
}
