$link-focus-color: #2196f3;
$text-paragraf-color: #757575;
$text-fon-white-color: #ffffff;
$text-title-color: #212121;
$background-btn-color: #188ce8;
$header-border-bottom: #ececec;
$background: #f5f4fa;
$link-background-color: #afb1b8;
$footer-bac-color: #2f303a;
$border-cart: #eeeeee;

$indent: 30px;
$items: 3;
